/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: 'Segoe UI';
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuFoGi3WttK6dDhtd6DmidfJXm6sG8qp2qrA&usqp=CAU");
}
a{
  text-decoration: none;
}
